.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color: var(--main-color);
    cursor: default;

    &__text {
        font-size: 20px;
        color: @custom-white;
        user-select: none;
    }

    &__container {
        display: flex;
    }

    &__theme {
        margin-right: 20px;

        cursor: pointer;
        background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

    &__help {
        cursor: pointer;
        color: @custom-white;
        font-weight: bold;
    }
}

:root {
    --main-color: @custom-green;
}
