.header {
    width: 100%;

    background-color: var(--main-color);
    cursor: default;

    &__text {
        padding: 10px 20px;
        font-size: 20px;
        color: @custom-white;
        user-select: none;
    }
}

:root {
    --main-color: @custom-green;
}