.qubit {
    height: 120px;
    width: 100px;
    background-color: @custom-white;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid;
    border-radius: 5px;

    &__image {
        height: 60px;
        width: 60px;
        user-select: none;

        position: relative;
    }

    &__name {
        height: 20px;
        margin-top: 10px;
        font-size: 20px;
        user-select: none;
    }

    &._hidden {
        visibility: hidden;
    }
}